h2 {
    font-size: 1.3rem;
}
.topSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3.1rem;
    gap: 30px;
}

.topSectionHeader {
    font-size: 2rem;
    text-align: center;
    color: #2B0236;
}

.topSectionButton {
    background-color: #9A54BC;
    padding: 0.6rem 1rem;
    border: 0.06rem solid #9A54BC;
    border-radius: 5px;
    color: white;
    font-weight: 3.1rem;
}

.topSectionButton:hover {
    background-color: white;
    color: #9A54BC;
    cursor: pointer;
}
.elipsesContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.1rem;
    height: 31.2rem;
}
.absolute {
    position: absolute;
}
.Elipse2 {
    top: 1.9rem;
}
.Elipse1 {
    top: 3.75rem;
}
.Rectangle {
    top: 4.37rem;
}
.Collab {
    top: 10.9rem;
}
.elipseBtn {
    top: 21.6rem;
    padding: 0.4rem 1.1rem;
    font-size: 0.6rem;
    background-color: white;
    border: 0.1rem solid #9A54BC;
    border-radius: 0.18rem;
    color: #60267F;
    cursor: pointer;
}
.elipseBtn:hover {
    background-color: #9A54BC;
    color: white;
}
.iconsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.1rem;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 43.7rem;
}
.bigPhoneContainer {
    margin-top: 6.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
.vendorAppAndPhoneContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 3.1rem;
}
.paragraph {
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 18.7rem;
    gap: 2.2rem;
}
.vendorAppPhone {
    width: 50%;
}
.paragraphBtnContainer {
    display: flex;
    padding: 0.3rem;
    gap: 0.3rem;
    border-radius: 0.3rem;
    box-shadow: 0.06rem 0.5rem 0.6rem 0px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 0.06rem 0.5rem 0.6rem 0px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0.06rem 0.5rem 0.6rem 0px rgba(0, 0, 0, 0.26);;
}
.paragraphBtnContainer > button {
    width: 50%;
    padding: 0.3rem 0px;
    border: 0.12rem solid white;
    background-color: transparent;
}
.paragraphBtnContainer > button:hover {
    border: #9A54BC 0.12rem solid;
    background-color: #60267F;
    border-radius: 3px;
    color: white;
}
.paragraphContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;

}
.vendorPara {
    background-color: #F2F2F2;
    width: 95%;
    padding: 1.1rem 0.9rem;
    font-size: 0.6rem;
}
.vendorPara span {
    font-weight: 600;
    font-size: 11px;
}
.vendorAppPhone {
    display: flex;
    justify-content: center;
}
.videoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 75px;
    margin-top: 130px;
    padding: 30px;
}
.videoContainer p {
    width: 75%;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}
.mallCardsContainer {
    
}