h2 {
    font-size: 21px;
}
.topSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    gap: 30px;
}

.topSectionHeader {
    font-size: 32px;
    text-align: center;
    color: #2B0236;
}

.topSectionButton {
    background-color: #9A54BC;
    padding: 10px 15px;
    border: 1px solid #9A54BC;
    border-radius: 5px;
    color: white;
    font-weight: 50;
}

.topSectionButton:hover {
    background-color: white;
    color: #9A54BC;
    cursor: pointer;
}
.elipsesContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 500px;
}
.absolute {
    position: absolute;
}
.Elipse2 {
    top: 30px;
}
.Elipse1 {
    top: 60px;
}
.Rectangle {
    top: 70px;
}
.Collab {
    top: 175px;
}
.elipseBtn {
    top: 345px;
    padding: 8px 18px;
    font-size: 11px;
    background-color: white;
    border: 1.5px solid #9A54BC;
    border-radius: 3px;
    color: #60267F;
    cursor: pointer;
}
.elipseBtn:hover {
    background-color: #9A54BC;
    color: white;
}
.iconsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 700px;
}
.bigPhoneContainer {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
.vendorAppAndPhoneContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 50px;
}
.paragraph {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    gap: 35px;
}
.vendorAppPhone {
    width: 50%;
}
.paragraphBtnContainer {
    display: flex;
    padding: 5px;
    gap: 5px;
    border-radius: 5px;
    box-shadow: 1px 8px 9px 0px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 1px 8px 9px 0px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 1px 8px 9px 0px rgba(0, 0, 0, 0.26);;
}
.paragraphBtnContainer > button {
    width: 50%;
    padding: 5px 0px;
    border: 2px solid white;
    background-color: transparent;
}
.paragraphBtnContainer > button:hover {
    border: #9A54BC 2px solid;
    background-color: #60267F;
    border-radius: 3px;
    color: white;
}
.paragraphContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.vendorPara {
    background-color: #F2F2F2;
    width: 95%;
    padding: 17px 15px;
    font-size: 10px;
}
.vendorPara span {
    font-weight: 600;
    font-size: 11px;
}
.vendorAppPhone {
    display: flex;
    justify-content: center;
}