* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    
}

.topLine {
    width: 100%;
    height: 2.5rem;
    background-color: #6a288d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: DM Sans;

}

.topLinePara {
    font-size: 0.6rem;
}

.learnMore {
    border-bottom: 1px solid white;
    cursor: pointer;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.1rem;
    padding: 0 1.9rem;
    border-bottom: 0.18rem solid rgba (220, 220, 220, 0.3);
}

.headerContainer img {
    width: 6.25rem;
}

.navigationContainer nav {
    gap: 1.2rem;
}

.navigationContainer nav ul {
    display: flex;
    gap: 1.2rem;
}

.navigationContainer nav ul li {
    list-style: none;
}

.navigationContainer nav ul li a {
    text-decoration: none;
    font-size: 0.8rem;
    color: black;
}

.headerButton {
    border: none;
    background: transparent;
    border: 0.06rem solid #9A54BC;
    color: #9A54BC;
    border-radius: 0.3rem;
    font-size: 0.6rem;
    padding: 0.3rem 0.6rem;
    cursor: pointer;
}

.headerButton:hover {
    background-color: #9A54BC;
    color: white;
}